body{
    display: flex;
    justify-content: center;
}
.contact{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    width: 12rem;
}

.btnSubmit{
    background-color: rgb(246, 46, 46);
    color:white;
    margin: 1rem 1rem;
    width:6rem;
    height: 2rem;
    font-size: 1rem;
    cursor: pointer;
    border:none;
    border-radius: 20px;
}