html{
    font-size: 62.5%;
}

body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

#headerSection{
    width:100%;
}
#foodTheme{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
}
#foodThemeText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10rem;
}

#foodThemeText h1{
    font-size:6rem;
    line-height: 7.8rem;
    font-weight:bolder;
    color: #575757; 
    margin-bottom: 1.5rem;
    letter-spacing: -0.32rem;
}

#foodThemeText p{
    margin-bottom: 1.5rem;
    font-size: 2rem;
    line-height: 3.2rem;
    color:#828282; 
}
#foodThemeImage img{
    width:100%;
}

.btn{
    width:10rem;
    height:3rem;
    border-radius: 45px;
    border:none;
    background: #EDC21B;
    background: linear-gradient(to top left, #EDC21B, #F48D25);
    cursor: pointer;
    font-weight: 600;
}


#foodThemeText a{
    text-decoration: none;
    color:#ffff;
    font-weight: 600;
    font-size: 1rem;
}
#foodThemeText a:hover{
    text-decoration: underline;
}
/* Main Section */
/* About Me Section */
#mainSection{
    width:100%;
}
#about-me{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    height: auto;
    background:url(./images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat; 
}
#about-me-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
#about-me-img img{
    /* width:100%; */
    height:50rem
}
#about-me-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about-me-description h1{
    color:#707070;
    margin-bottom: 3rem;
    font-size: 3rem;
}

#about-me-description p{
    font-size: 1.8rem;
    line-height: 3.2rem;
    font-weight: 400;
    /* margin-bottom: 3rem; */
}
#about-me-description-inside{
    padding-left: 4.8rem;   
}

/* Recipe Section */
#recepie{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#my-recipie-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#my-recipie-intro h1{
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 4.4rem;
    text-transform: capitalize;
}
#my-recipie-intro p{
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

#recipie-card-inside{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 5.4rem;
}
.card{
    box-sizing: border-box;
    width:37.7rem;    
    height: auto;
    padding:2rem; 
    border-radius: 25px;
    background:#ffff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
} 
#card-img{
    width:33.7rem;
    height:auto;
}
#card-img img{
    width:100%;
    height:auto;
}

#card-description h2{
    font-size: 2.8rem;
    font-weight: 800;
    color:#18191F;
    line-height: 4.0rem;
}

#card-description p{
    line-height: 3.2rem;
    font-size: 1.8rem;
    color:#18191F;
}

#card-description a{
    text-decoration: none;
    color:#ffff;
    font-weight: 600;
    font-size: 1rem;
}
#card-description a:hover{
    text-decoration: underline; 

} 

/* Follower Section */
#follower{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    width:100%;
    
}
#followerDes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 5.4rem;
    padding:2.4rem 16.5rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5);
}
#followerDesInside h1{
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 6.4rem;
}

#followerDesInside p{
    font-size: 16px;
    line-height: 26px;
}

/* Footer Sectiono CSS */
#footerSection{
    background:black;
    color:white;
    text-align: center;
    margin-top: 2rem; 
}
#footersectionInside{
    box-sizing: border-box;
    padding:3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}

.address{
    display: flex;
    justify-content: center;
    align-items: center;    
    
    line-height: 2rem;
}
.address span{
    font-size: 1.5rem;
}
.address-social{
    color:#ffffff;
    margin-right: 1rem;
}
.conclusion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conclusion-title span{
    color:orangered
}
.conclusion h1::first-letter{
    color:orange;
}
.conclusion-title{
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.conclusion-para{
    font-size: 1rem; 
}


@media (max-width:425px){
    /* Header Section */
    #foodTheme{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
    }
    #foodThemeText{
        padding:0rem;
    }
    #foodThemeText h1{
        font-size: 4rem;
        line-height: 5.8rem;
    }
    #foodThemeText p{
        font-size: 1.2rem;
        line-height: 1.2rem;
    }

    /* Main Section */
    #about-me{
        display: grid;
        grid-template-columns: 1fr;
        width:100%;
    }    
    #about-me-description{
        padding:1rem;
    }

    /* Recipie Section */
    #recipie-card-inside{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
    }
    #recepie{
        width:100%;
    }
    .card{
        width:100%;
    }
    #card-img{
        width:100%;
    }
    #card-description p{
        line-height: 2.5rem;
        font-size: 1.2rem;
    }
    /* Follower Section */
    #followerDes{
        grid-template-columns: 1fr;
        padding:0rem;
        grid-row-gap: 1rem;
    }

    #followerDesInside{
        padding: 1rem;
        border:1px solid rgba(0, 0, 0,0.4);
    }
  
    #footersectionInside{
       
        grid-template-columns: 1fr;
        
    }
}

@media (min-width:426px) and (max-width:768px){
    #foodTheme{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #recipie-card-inside{
        width: 100%;
    }
    .card{
        width:100%;
    }
    #card-img{
        width:100%;
    }
}
@media (min-width:769px) and (max-width:1024px){
    #foodTheme{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #recipie-card-inside{
        width: 100%;
    }
    .card{
        width:100%;
    }
    #card-img{
        width:100%;
    }
}


